/* Hobbies Section Styles */
.hobbiesSection {
  margin-top: 30px;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.hobbiesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
  /* Centers the items horizontally */
}

.hobbiesList li {
  display: flex;
  flex-direction: column;
  /* Stack the content vertically (icon above text) */
  align-items: center;
  /* Center content horizontally */
  justify-content: center;
  /* Center content vertically */
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  min-width: 250px;
  font-size: 1.3rem;
  max-width: 350px;
  /* Set a maximum width to keep cards consistent */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  /* Center the text inside the cards */
}

.hobbiesList li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.hobbiesList li .icon {
  font-size: 3rem;
  /* Slightly larger icons */
  color: #ff496c;
  margin-bottom: 10px;
  /* Space between icon and text */
}