/* Main Hero Section */
.hero-section {
  width: 100%;
  max-height: 100%;
  height: auto;
  padding: 0rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  margin-top: 5%;
  justify-content: left;
  text-align: left !important;
  align-items: center;
  /* Center align items */
}

.text-container-hero {
  max-width: 75%;
  padding: 0 1rem;
  justify-content: left !important;
  text-align: left !important;
  align-items: left !important;
}

.name {
  font-size: 4rem;
  margin-bottom: 1rem;
  /* Adds spacing below the name */
}

.job-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: underline;
  color: #adadad;
  transition: color 0.3s ease;
  margin-bottom: 2rem;
  /* Spacing before any other content below */
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  height: 1.2em;
  background-color: #4e4e4e;
  animation: blink 0.7s step-end infinite !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    padding: 0rem 2rem 2rem;
  }

  .name {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  .job-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .job-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}


.text-container-hero {
  max-width: 75%;
  padding: 0 1rem;
  text-align: left;
}

.hero-section h1,
.hero-section h3 {
  font-weight: bold !important;
}

.greeting {
  display: inline;
  white-space: nowrap;
  font-weight: 100 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.greeting h2 {
  font-weight: 100 !important;
}




.description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 1%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: start;
}

/* Specific button adjustments */
.resume-button,
.github-button,
.linkedin-button {
  color: #ff496c;
  text-decoration: none;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #ff496c;
  box-shadow: 0 3px 0 #d9405e, 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  /* Ensures buttons fit within container on mobile */
}



.resume-button:hover,
.github-button:hover,
.linkedin-button:hover {
  background-color: #ff496c;
  color: white;
  box-shadow: 0 3px 0 #d9405e, 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .button-group {
    gap: 5px;
    justify-content: center;
    margin-top: 5%;
    /* Smaller gap on mobile */
  }

  .resume-button,
  .github-button,
  .linkedin-button {
    padding: 5px;

    font-size: 0.9rem;
    width: 100%;
    /* Further limits button width for smaller screens */
  }
}

@media (max-width: 480px) {

  .resume-button,
  .github-button,
  .linkedin-button {
    padding: 4px;
    font-size: 0.8rem;
    width: 100%;
  }
}


/* Mobile Responsiveness */
@media (max-width: 768px) {

  .hero-section {
    grid-template-columns: 1fr;
    padding: 0rem 2rem 2rem;
    height: auto;
    text-align: center;
  }

  .text-container-hero {
    max-width: 100%;
    padding: 0 1rem;
  }

  .greeting {
    font-size: 1.8rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .job-title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }

  .image-container {
    display: none;
  }
}

@media (max-width: 480px) {
  .greeting {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2rem;
  }

  .job-title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .image-container {
    display: none;
  }

  .resume-button {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .resume {
    margin-top: 10%;
  }
}