/* Common Styles */
.navbar {
  width: 100%;
  z-index: 10;

}

.navbar-brand {
  color: #ddd;
  font-weight: thin;
}

.last-name {
  font-weight: bold;
}

/* Desktop Navbar */
.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.desktop-navbar .navbar-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.desktop-navbar .navbar-links a {
  text-decoration: none;
  color: #ddd;
  font-weight: thin;
  transition: color 0.3s ease;
}

.desktop-navbar .navbar-links a:hover {
  color: rgb(209, 149, 255);
}

/* Mobile Navbar */
.mobile-navbar {
  display: none;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background-color: transparent;

  width: 100%;

  z-index: 1000;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  align-items: flex-end;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #ddd;
  margin: 4px 0;
  transition: background-color 0.3s ease;
}

.bar.active {
  background-color: rgb(209, 149, 255);
}

/* Mobile Full-Screen Menu */
.navbar-links-wrapper {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.navbar-links-wrapper .navbar-links {
  list-style: none;
  text-align: center;
}

.navbar-links-wrapper .navbar-links li {
  margin: 20px 0;
}

.navbar-links-wrapper .navbar-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.5rem;
  font-weight: thin;
}

.navbar-links-wrapper .navbar-links a:hover {
  color: rgb(209, 149, 255);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
  }

  .navbar-hamburger {
    display: flex;
  }

  .navbar-links-wrapper {
    display: block;
  }

  .navbar-links li {
    margin: 10px 0;
    text-align: center;
  }
}