/* Intro Animation */
.intro-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blanchedalmond;
}

/* Common Styles */
.navbar {
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  color: #ddd;
  font-weight: thin;
}

.last-name {
  font-weight: bold;
}

/* Desktop Navbar */
.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  opacity: 0;
}

.desktop-navbar .navbar-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.desktop-navbar .navbar-links a {
  text-decoration: none;
  color: #ddd;
  font-weight: thin;
  transition: color 0.3s ease;
}

.desktop-navbar .navbar-links a:hover {
  color: rgb(209, 149, 255);
}

/* Mobile Navbar */
.mobile-navbar {
  display: none;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  align-items: flex-end;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #ddd;
  margin: 4px 0;
  transition: background-color 0.3s ease;
}

.bar.active {
  background-color: rgb(209, 149, 255);
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
  }

  .navbar-hamburger {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
    text-align: center;
  }
}