.skills-section {
  padding: 50px 20px;
  overflow: hidden;
}

.main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main-title {
  font-size: 3rem;
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* 3 columns by default */
  gap: 20px;
  /* Decrease the gap to bring bubbles closer */
  margin: 5%;
  font-weight: bold;
  padding: 20px;
  justify-items: center;
  /* Center items in the grid */
}

.skill-bubble {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 3px 0 #d9405e, 0 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  transition: transform 0.3s ease;
}

.skill-bubble:hover {
  transform: scale(1.5);
  border: 4px solid #ff496c;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content box */
.modal-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ddd;
}

.close-modal-btn {
  background-color: #ff496c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #0056b3;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .skills-list {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns on mobile */
    gap: 10px;
    /* Decrease the gap for mobile */
    margin: 0;
    /* Remove margin to better fit the bubbles */
    padding: 0;
    /* Remove padding for mobile */
    font-weight: bold;
  }

  .skill-bubble {
    width: 8rem;
    /* Adjust size for smaller screens */
    height: 8rem;
    font-size: .9rem;
    /* Increase font size on mobile */
  }
}

@media (max-width: 480px) {
  .skills-list {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns on very small screens */
    gap: 5px;

    /* Decrease the gap further if necessary */
  }

  .skill-bubble {
    width: 6rem;
    /* Make the bubbles smaller for very small screens */
    height: 6rem;
    font-size: 0.9rem;

    /* Adjust font size for very small screens */
  }
}