.widget-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 5%;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.github-commits {
  position: relative;
  background-color: #171515;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: end; - whenever you igure out what to put in the github card other than name */
  text-align: left;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1rem;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.vertical-widget,
.reddit-widget,
.medium-widget,
.instagram-widget,
.other-widget {
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-align: center;
  font-weight: bold;
  border: 1px solid #fff;
}

.github-commits:hover,
.vertical-widget:hover,
.reddit-widget:hover,
.medium-widget:hover,
.instagram-widget:hover,
.other-widget:hover,
.daily-dev:hover {
  transform: scale(1.05);
  /* Slightly enlarges the widget by 5% */
}

.reddit-widget,
.medium-widget,
.instagram-widget,
.other-widget,
.daily-dev {
  margin: 2%;
}


.vertical-widget {
  background-color: #0077B5;
  text-align: left;
}

.reddit-widget {
  background-color: #FF5700;
}

.medium-widget {
  background-color: #333;
}

.instagram-widget {
  background-color: rgb(249, 255, 80);
  font-size: 1rem;
  text-align: left;
  padding: 10%;
}

.other-widget {
  background-color: #319261;
}

.svg-white {
  filter: invert(100%);
}


.daily-dev {
  display: flex;
  width: 100%;
  margin: 2%;
  border-radius: 20px !important;
  height: auto;
}

@media (max-width: 800px) {
  .widget-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .widget-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .github-commits,
  .vertical-widget,
  .reddit-widget,
  .medium-widget,
  .instagram-widget,
  .other-widget {

    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .widget-grid {
    grid-template-columns: 1fr;
    width: 75%;
  }

  .widget-container {
    grid-template-columns: 1fr;
  }
}