.widget-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 5%;
  gap: 10px;
  width: 75%;
  margin: auto;
}

.widget-section {
  width: 100vw !important;
  margin: auto !important;
}

.profile-card-widget {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  flex-direction: column;
  width: 100%;
}

.profile-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  max-width: 70%;
}

.profile-info {
  margin-bottom: 1rem;
  padding-top: 10px;
}

.profile-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333 !important;
}

.email {
  color: rgb(61, 109, 243) !important;
}

.profile-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 8px;
}

.bio {
  color: #333 !important;
}

.profile-card .profile-info p {
  font-weight: 500;
}

.profile-card .profile-info .email {
  text-decoration: underline;
}

.profile-card .bio {
  color: #fff;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-top: 12px;
}

.profile-pic {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  .profile-card {
    flex-direction: column;
    padding: 1rem;
  }

  .profile-content {
    max-width: 100%;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 10px;
  }
}

.github-commits {
  position: relative;
  background-color: #171515;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: end; - whenever you igure out what to put in the github card other than name */
  text-align: left;
}

.github-text p {
  color: #fff !important;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1rem;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.vertical-widget p {
  color: #fff !important;
}

.vertical-widget,
.spotify-widget,
.medium-widget,
.instagram-widget,
.other-widget {
  border-radius: 20px;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-align: center;
  font-weight: 200;
  border: 2px solid #fff;
}

.github-commits:hover,
.vertical-widget:hover,
.spotify-widget:hover,
.medium-widget:hover,
.instagram-widget:hover,
.other-widget:hover,
.daily-dev:hover {
  transform: scale(1.05);
  /* Slightly enlarges the widget by 5% */
}



.spotify-widget,
.medium-widget,
.instagram-widget,
.other-widget,
.daily-dev {
  margin-bottom: 10px;
}


.vertical-widget {
  background-color: #0077B5;
  text-align: left;
}

.spotify-widget {
  background-color: #a653ff;
  margin-top: 2%;
}

.spotify-widget-text p,
.medium-widget-text p,
.instagram-widget-text p,
.discogs-widget-text p {
  font-size: .7rem;
  color: #333 !important;
}

.medium-widget {

  background-color: #1DB954;
}

.instagram-widget {
  background-color: rgb(249, 255, 80);
  font-size: 1rem;
  text-align: left;
  padding: 10%;
}

.other-widget {
  background-color: #FF5700;
}

.spotify-logo {
  width: 30px;
  /* Adjust size as needed */
  height: 30px;
  margin-right: 0.5rem;
}


.daily-dev {
  display: flex;
  width: 100%;
  margin: 2%;
  border-radius: 20px !important;
  height: auto;
}

@media (max-width: 1200px) {
  .widget-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
  }

  .widget-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .github-commits,
  .vertical-widget,
  .reddit-widget,
  .medium-widget,
  .instagram-widget,
  .other-widget {

    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .widget-grid {
    grid-template-columns: 1fr;


  }

  .widget-container {
    grid-template-columns: 1fr;
  }
}