* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
  background: linear-gradient(120deg, #0d0d0d, #3f2b53);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background fixed during scrolling */
  color: white;
}
