* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  cursor: url('/tech-cursor.svg') 16 16, auto;
  height: 100vh;
  background: linear-gradient(120deg, #0d0d0d, #2A1E5C);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Makes the background fixed during scrolling */
  color: white;
}

button,
a {
  cursor: url('/path-to-your-svg/tech-hover-cursor.svg') 16 16, pointer;
}